.view-job {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow: auto;
  width: 100%;
  height: 100vh;
  background-color: #ffefef;
}

.part-1 {
  width: 100%;
}

.part-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 12.5rem;
  padding-top: 0rem;
  padding-bottom: 2rem;
  margin-top: -5.5rem;
}

.heading-part {
  width: 100%;
  padding: 2rem 2rem 5rem 4rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 23px 2px rgba(0, 0, 0, 0.1);
}

.heading-part {
  color: #000;
  /* text-align: center; */
  font-family: "DM Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 144.023%; /* 41.767px */
  border: 1px solid transparent;
  background-color: #fff;
}

.details-part {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid transparent;
  background-color: #fff;
  padding: 3rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  box-shadow: 0px 4px 23px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.details-col-1 {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}

.details-row-1 {
  display: flex;
  justify-content: space-between;
}

.edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.5%;
  cursor: pointer;
}

.edit-button {
  background-color: #ed5353;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  font-family: "DM Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 144.023%; /* 28.245px */
}

.edit-button-hide{
  display: none;
}

.details-row-2 {
  color: #ed5353;
  font-family: "DM Sans";
  font-size: 0.9rem;
  padding-left: 0.15rem;
}

.job-profile {
  color: #000;
  font-family: "DM Sans";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 144.023%; /* 69.131px */
}

.details-col-2 {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
  padding-left: 0.15rem;
  font-family: "DM Sans";
}

.details-row-3 {
  display: flex;
  gap: 0.5rem;
  color: #999;
  font-size: 0.9rem;
}

.details-row-4 {
  color: #595959;
  font-size: 0.95rem;
}

.details-col-3,
.details-col-4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details-row-5,
.details-row-7 {
  color: #000;
  font-family: "DM Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 169.523%; /* 40.685px */
}

.details-row-6,
.details-row-8,.details-row-12 {
  color: #595959;
  font-family: "DM Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 164.5%; /* 39.48px */
}

.details-col-5 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details-row-9,.details-row-11 {
  color: #000;
  font-family: "DM Sans";
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 169.523%; /* 40.685px */
}

.details-row-10 {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.view-skills {
  display: flex;
  justify-content: center;
  color: #595959;
  font-family: 'DM Sans';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 169.523%; 
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #FEE;
  min-width: 7.5%;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.details-col-6{
  display:flex;
  flex-direction: column;
  gap:1rem;
}
