* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Register-Page {
  width: 100%;
  height: 100vh;
  display: flex;
}

.left {
  width: 55%;
  height: 100%;
  padding: 12.5rem;
  padding-left: 4rem;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}

.title-1 {
  color: #000;
  font-family: "DM Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 144.023%;
}

.title-2 {
  color: #525252;
  font-family: "DM Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 144.023%;
}

.registration {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.terms-condns {
  display: flex;
  gap: 0.625rem;
}

.tnc {
  color: #525252;
  font-family: "DM Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 139.688%; /* 23.541px */
  letter-spacing: 0.337px;
}

.box-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.create-btn {
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 144.023%; /* 40.028px */
  background-color: #ed5353;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.txt-msg {
  display: flex;
  gap: 0.6rem;
}

.message {
  color: #525252;
  font-family: "DM Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 144.023%; /* 30.245px */
}

.link {
  color: #000;
  text-align: center;
  font-family: "DM Sans";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 144.023%; /* 30.245px */
  /* text-decoration-line: underline; */
}

.form-input {
  width: 100%;
  padding: 0.8rem;
  padding-left: 1rem;
  border: 2px solid #c2c2c2;
  border-radius: 0.313rem;
  color: #525252;
  /* text-align: center; */
  font-family: "DM Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 144.023%; /* 28.805px */
}

.right {
  width: 45%;
  height: 100%;
  position: relative;
}

.default {
  width: 100%;
  height: 100%;
}

.error-msg {
  color: red;
}

.random-text {
  position: absolute;
  top: 5%;
  left:20%;
  color: #fff;
  text-align: center;
  font-family: "DM Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 144.023%; /* 57.609px */
}
